name: helm-docs
on:
  workflow_dispatch: {}
  push:
    branches:
      - main
  pull_request: {}
jobs:
  docs-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Build helm-docs
        uses: docker://docker.io/jnorwood/helm-docs:latest
      - uses: EndBug/add-and-commit@v9
        with:
          message: 'Automatic build of docs from GitHub Action'
